.itemDetail {
  font-family: 'Poppins', sans-serif;
  }

.itemDetailPhoto {
  max-width: 100%;
  max-height: 75vh;
  object-fit: cover;
  overflow: hidden !important;
  border-radius: 1em;
}

.itemDetailTitle {
  text-align: right !important;
  font-size: 2.5em;
}

.itemDetailDescription {
  text-align: right !important;
  font-size: 1.3em;
}

.itemDetailPrice {
  text-align: right !important;
  font-size: 3em;
  font-weight: 600;
}

@media(max-width: 1024px) {
  .itemDetailTitle {
    font-size: 2.2em;
  }
  .itemDetailDescription {
    font-size: 1em;
  }
  .itemDetailPrice {
    font-size: 2em;
  }
}

@media(max-width: 767px) {
  .itemDetailTitle {
    text-align: left !important;
    font-size: 2em;
  }
  .itemDetailDescription {
    text-align: left !important;
    font-size: 1.2em;
    font-style: italic;
  }
  .itemDetailPrice {
    text-align: center !important;
    font-size: 1.7em;
  }
  .itemDetailData {
    padding: auto;
  }
}