.greetHome {
  font-size: 6.5em;
  color: white;
  text-shadow: -1px 1px black, 1px 1px black, -1px -1px black, 1px -1px black;
  font-family:'Freestyle Script';
}

.greetBack {
  padding: 2em;
  background: url(../../img/ameghan-rodgers-QpeoWEazLlM-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size:100vw;
}

@keyframes slidingStepUp {
  0% {
      bottom: -50px;
      opacity: 0;
  }

  5% {
      bottom: -35px;
      opacity: 0.2;
  }

  100% {
      bottom: 0px;
      opacity: 1;
  }
}

.slide-animate {
  animation-name: slidingStepUp;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@media (max-width: 500px) {
  .greetHome {
    font-size: 4em;
  }
}