.greetHome {
  font-size: 4em;
  color: white;
  font-weight: 700;
  letter-spacing: 0.15em;
  /* text-shadow: -1px 1px black, 1px 1px black, -1px -1px black, 1px -1px black; */
  /* font-family:'Freestyle Script'; */
  font-family: 'Poppins', sans-serif;
}

.greetBack {
  margin-top: -7em;
  padding: 3em 2em;
  background: url(../../img/br_meghan-rodgers-QpeoWEazLlM-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: calc(100vh - 8em);
  overflow: hidden;
/* hacer media query para diferentes tamaños? */
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes slidingStepUp {
  0% {
      bottom: -50px;
      opacity: 0;
  }

  5% {
      bottom: -35px;
      opacity: 0.2;
  }

  100% {
      bottom: 0px;
      opacity: 1;
  }
}

.slide-animate {
  animation-name: slidingStepUp;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.slide-animate-2 {
  animation-delay: 0.5s;
  animation-name: slidingStepUp;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.opacity-zero {
  opacity: 0;
}

@media (max-width: 800px) {
  .greetHome {
    font-size: 2em;
    padding-top: 15em;
    margin-bottom: 5em;
  }
  .greetBack {
    margin-top: -25em;
  }
}

@media (min-height: 1440px) {
  .greetBack {
  min-height: 1080px;
  }
}