.itemThumnail {
  max-width: 100%;
  max-height: 60vh;
  overflow: hidden;
  object-fit: cover;
  border-radius: 1em;
  padding: 0;
  margin:0;
}

.thumbContainer {
  margin: 0.5em 0.5em 0.5em 0.5em;
  border-radius: 1em;
  font-family: 'Poppins', sans-serif;
}

.thumbContainer:hover {
  transform: scale(1.1);
  z-index: 1000;
  transition: transform 330ms ease-in-out;
}

.thumbTitle {
  font-size: 1.4em;
  font-weight: 500;
}

.thumbDescription {
  font-size: 1em;
  font-style: italic;
}

.thumbPrice {
  font-size: 1.15em;
}