.text-white, #basic-nav-dropdown, #brand {
  color: white !important;
}

#navbar-bg {
  background-image: radial-gradient(
    ellipse farthest-corner at 0% 400%,
    #9e1460 0%,
    #660339 80%,
    #92325f 70%,
    #801a49 70%
  );
}

.header-logo {
  width: 7em;
}

.navlink_item {
  padding: 0em 0.6em;
  display: inline-block;
}

.dropdown-item.active {
  background-color: #660339;
  }

.dropdown-item:hover {
  background-color: #d6669e;
  color: #000000;
  }

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vertical-divider {
  background: rgb(231, 231, 231);
  width: 2px;
  height: 40px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

.navlink {
  color: white;
  border-bottom: 3px solid transparent;
}

.navlink:hover {
  color: white;
  border-bottom: 3px solid white;
}

  @media (max-width: 500px) {
    .header-logo {
      width: 6em;
    }
  }

  @media (min-width: 1440px) {
    .header-logo {
      width: 10em;
    }
  }

  @media (max-width: 767px) {
    .vertical-divider {
      display: none;
    }
  }